{% extends 'blog/base.html' %} 
{% block header %}   
Accueil  
{% endblock %}
{% block content %}  
<div id="sfcwaljfdrpdjf8c3mdlwf1s2c3gy82jftq"></div>
<script type="text/javascript" src="https://counter10.allfreecounter.com/private/counter.js?c=waljfdrpdjf8c3mdlwf1s2c3gy82jftq&down=async" async></script>
<h4 class="marge">La Guerre Des Clans : Le Film</h4>
<p class="marge">Découvrez le film de la guerre des clans !
<br>Toutes les infos, tout l’actus ? C’est ici ! Et en plus c’est en Français.</p>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
{% for post in posts %}
     
    {% if post.Publique == True %}

        <!--First slide-->
        <div class="carousel-item active">
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="{{ post.image_lien }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.resume }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Lire la suite ></a>{% if user.is_authenticated %}<p style="color:MediumSeaGreen;float: right;">Publique</p> {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->
		{% else %}
		{% if user.is_authenticated %}
	 {% include "blog/slide.html" %}
	 {% endif %}
      {% endif %}
{% endfor %}
    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
{% endblock %}
