{% extends 'blog/base.html' %} 
{% block content %}                    
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
{% for post in posts %}
        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="http://www.croiseedesclans.fr/medias/images/affiche-warriors-movie.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Lire la suite ></a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

{% endfor %}
    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
{% endblock %}
