{% extends 'blog/base.html' %} 
{% block content %}                    
<h4 class="marge">La Guerre Des Clans : Le Film</h4>
<p class="marge">Découvrez le film de la guerre des clans !
<br>Toutes les infos, tout l’actus ? C’est ici ! Et en plus c’est en Français.</p>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
{% for post in posts %}
        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="http://www.croiseedesclans.fr/medias/images/affiche-warriors-movie.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.resume }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Lire la suite ></a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

{% endfor %}
    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
{% endblock %}
